kbd {
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
    0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
  color: #333;
  display: inline-block;
  font-family: $monospace;
  font-size: $type-size-6;
  font-weight: 700;
  line-height: 1;
  padding: 0.1em 0.4em;
  white-space: nowrap;
}

.layout--single .page__content {
  p > img {
    display: block;
    margin: 0 auto;
  }

  .emoji {
    display: inline-block;
    height: 1.2em;
    margin: 0 0.1em;
    vertical-align: -0.2em;
    width: auto;
  }
}

.sidebar {
  opacity: 1;
}
